@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-chat {
  &__text {}

  &__title {}

  &__descr {}

  &__list {
    margin: 30px 0 0;
    display: flex;
    align-items: center;
  }

  &__list-item {
    margin: 0 20px 0 0;
  }

  &__link {}

  &__link-img {}

  &__pic {
    margin: 10px 0 0;
    display: block;
    max-width: 375px;
  }

  &__img {}
}