@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-hero {
  padding-top: 100px;
  &__pic {
    width: 690px;
    height: 540px;
  }

  &__img {}

  &__title {
    margin: 45px 0 0;
  }

  &__descr {}

  &__btn {}

  &__marquee {
  }
}