@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.questionnaire-complete-sect {
  margin: 0 0 $sectionVerticalPadding768;
  padding: 45px 25px 90px;
  font-size: 16px;

  &__title-block {
    margin: 0 0 15px;
    display: flex;
    flex-flow: row-reverse;
  }

  &__title {
    
  }

  &__reset-btn {
    margin: 0;
  }

  &__list {
    &:not(:last-child) {
      margin: 0 0 30px;
    }
  }

  &__li {
    &:not(:last-child) {
      margin: 0 0 15px;
    }
  }

  &__li-left {}

  &__li-right {}
}