@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.account-hero {
  $pt: 30px;
  $pr: 20px;
  margin: 0 0 $sectionVerticalPadding320;
  padding: $pt $pr 40px 15px;
  box-shadow: 0px 8px 20px rgba(147, 167, 181, 0.15);
  border-radius: 30px;
  background: #fff;

  &__attention {
    display: none;
  }

  &-maybe-close {
    position: relative;
    overflow: hidden;
    transition: opacity .5s, height 1s, padding .25s .4s, margin .5s;

    >.account-hero__close {
      // display: block;
      // width: 21px;
      // height: 21px;
      position: absolute;
      // top: 20px;
      // right: 20px;

      // &::before,
      // &::after {
      //   content: '';
      //   position: absolute;
      //   top: 50%;
      //   left: 0;
      //   width: 22px;
      //   height: 1px;
      //   background: currentColor;
      //   pointer-events: none;
      // }

      // &::before {
      //   transform: rotate(45deg);
      // }

      // &::after {
      //   transform: rotate(-45deg);
      // }
    }
  }

  &.chat-hero {
    .account-hero__img {
      width: 245px;
      height: 220px;
    }
  }

  &__img {
    margin: 0 auto;
    display: block;
  }

  &__close {
    display: none;
  }

  &__text {}

  &__title {}

  &__descr {}

  &__btns {
    margin: 30px 0 0;

    >.btn {
      width: 100%;
      padding: 10px;

      &:nth-child(2) {
        margin: 15px 0 0;
      }
    }

  }
}

.products-cart-hero {
  &.attention {
    .account-hero__attention {
      margin: 20px 0 0;
      max-width: 375px;
      display: flex;
      align-items: flex-start;
      color: $coral;
      font-size: 14px;

      &::before {
        flex-shrink: 0;
        margin: 0 5px 0 0;
        content: '';
        width: 18px;
        height: 18px;
        background: url('img/icon-attention.svg') center/contain no-repeat;
      }
    }
  }
}