@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.ftr {
  font-size: 16px;
  &__logo {}

  &__logo-img {
    width: 175px;
    height: 25px;
  }

  &__contacts {
  }

  &__tel {}

  &__email {}

  &__nav {
    margin: 0 0 55px;
    &-list {
      columns: 3;
    }
    &-li {}
  }

  &__copy {}

  &__doc {
    left: calc(50vw - 480px);
  }

  &__dev-link {}

  &__dev-logo {}

  &__dev-logo-line {}
}