@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.diet-plan {
  &__hdr {}

  &__day {}

  &__hdr-date {}

  &__date {}

  &__today {}

  &__calendar-btn {}

  &__calendar {}

  &__list {}

  &__item {}

  &__item-type {}

  &__item-body {}

  &__item-title {
    max-width: 420px;
  }

  &__item-calories {}

  &__item-descr {}

  &__item-igredietns {}

  &__item-igredietns-title {}

  &__item-igredietns-list {}

  &__item-igredietns-li {}

  &__item-recipe {
    max-width: 280px;
    width: 280px;
  }

  &__item-recipe-title {}

  &__item-recipe-text {}

  &__item-change {
    &::before {
      width: 20px;
      height: 18px;
    }
  }
}