@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.diet-plan {
  &__hdr {
    margin: 0 0 30px;
    display: flex;
    align-items: center;
  }

  &__day {
    margin: 0 auto 0 0;
    font: bold 20px/1.5 $notoSans;
  }

  &__hdr-date {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__date {
    font: 500 14px/1 $roboto;
    margin: 0 10px 0 0;
  }

  &__today {}

  &__calendar-btn {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border: 1px solid $accentGreen;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &.lazyloaded {
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../img/icon-calendar.svg') center/contain no-repeat;
        pointer-events: none;
      }
    }
  }

  &__calendar {
    padding: 15px;
    position: absolute;
    top: 125%;
    right: 0;
    font: bold 12px/1 $roboto;
    background: $white;
    box-shadow: 0px 8px 20px rgba(147, 167, 181, 0.15);
    border-radius: 30px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }

    &.loading {
      opacity: 0.5;
      pointer-events: none;
    }

    &-nav {
      display: flex;
      align-items: center;
      position: absolute;
      top: 20px;
      right: 20px;
      &.hide {
        display: none;
      }
    }

    &-prev,
    &-next {
      display: flex;
      padding: 5px;
      width: 25px;
      height: 18px;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: url('../img/icon-calendar-arrow.svg') center/contain no-repeat;
      }
    }

    &-prev {
      &::before {
        transform: rotate(180deg);
      }
    }

    &-next {
      
    }

    .calendar-wrp {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 100%;
    }

    .calendar-item {
      grid-row: 1;
      grid-column: 1;
      opacity: 0;
      visibility: hidden;
      transition: opacity .5s, visibility .5s;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    .calendar-head {
      margin: 0 0 15px;
      font: 500 15px/1 $roboto;
    }

    .calendar-table {
      display: flex;
    }

    .calendar-hdr-row {
      margin: 0 0 8px;
      display: flex;
      justify-content: flex-end;
      font: 500 12px/1 $roboto;
      color: #A6A6A6;
    }

    .calendar-hdr-cell {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:last-child) {
        margin: 0 8px 0 0;
      }
    }

    .calendar-row {
      display: flex;
      justify-content: flex-end;
      border-radius: 80px;
      -webkit-tap-highlight-color:transparent;

      &:not(:last-child) {
        margin: 0 0 8px;
      }

      &:last-child {
        > td:last-child {
          margin: 0 auto 0 0;
        }
      }

      // &.active-week {
        // background: #DAEABC;

        // >.calendar-day {
          // border: 0;
          // color: $black;
          // cursor: pointer;
          // position: relative;

          // &:first-child {
          //   &::before {
          //     border-radius: 80px 0 0 80px;
          //   }
          // }

          // &:last-child {
          //   &::before {
          //     border-radius: 0 80px 80px 0;
          //   }
          // }
          
          // &::before {
          //   content: '';
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   width: calc(100% + 8px);
          //   height: 100%;
          //   background: #DAEABC;
          //   z-index: -1;
          //   pointer-events: none;
          // }
        // }

        // >.today {
        //   color: $white;
        // }

        // >.event {
        //   color: $white;
        // }
      // }
    }

    .calendar-day {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #D2D2D2;
      border: 1px solid;
      transition: background .5s, color .5s;
      cursor: default;

      &:only-child {
        margin: 0 auto 0 0;
      }

      &:not(:last-child) {
        margin: 0 8px 0 0;
      }

      &.available {
        border: 0;
        color: $black;
        cursor: pointer;
        position: relative;

        &.today,
        &.event {
          color: $white;
        }

        &:first-child {
          &::before {
            border-radius: 80px 0 0 80px;
          }
        }

        &:last-child {
          &::before {
            width: 100%;
            border-radius: 0 80px 80px 0;
          }
        }

        &:only-child {
          &::before {
            width: 100%;
            border-radius: 80px;
          }
        }
        
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: calc(100% + 8px);
          height: 100%;
          background: #DAEABC;
          z-index: -1;
          pointer-events: none;
        }
      }
    }

    .last {}

    .event {
      // background: $coral;
    }

    .calendar-popup {
      display: none;
    }

    .today {
      background: $accentGreen;
      color: $white;
      pointer-events: none;
    }

    // table {
    //   // border-spacing: 10px;
    //   border-collapse: collapse;
    //   text-align: center;
    //   font: bold 13px/1 $roboto;
    // }

    // tbody {}

    // tr {
    //   &:first-child {
    //     font: 500 12px/1 $roboto;
    //     color: #A6A6A6;
    //   }
    // }

    // td {
    //   padding: 10px;
    //   &.event {
    //     background: $coral;
    //     > .calendar-popup {
    //       display: none;
    //     }
    //     &~.calendar-day {
    //       background: $accentGreen;
    //     }
    //   }

    //   &.calendar-day {
    //     // $size: 30px;
    //     // min-width: $size;
    //     // width: $size;
    //     // max-width: $size;
    //     // height: $size;
    //     border: 1px solid;
    //     border-radius: 50%;
    //   }
  }

  &__list {
    overflow: visible;
    position:static;
  }

  &__item {
    margin: 30px 0 0;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 8px 20px rgba(147, 167, 181, 0.15);
    transition: opacity .5s;
    &.loading {
      opacity: 0.5;
      pointer-events: none;
    }
    &.no-recipe {
      .diet-plan__item-recipe {
        display: none;
      }
    }
  }

  &__item-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    background: $beige;
    color: $white;
  }

  &__item-body {
    padding: 30px 15px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background: $white;
    position: relative;
  }

  &__item-title {
    margin: 0 0 5px;
    font: 500 16px/1.5 $roboto;
  }

  &__item-calories {
    font: 12px/1 $roboto;
    color: $accentGreen;
  }

  &__item-descr {}

  &__item-igredietns {}

  &__item-igredietns,
  &__item-recipe {
    margin: 20px 0 0;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &__item-igredietns-title,
  &__item-recipe-title {
    margin: 0 0 10px;
    font: 500 14px/1 $roboto;
  }

  &__item-igredietns-title {}

  &__item-igredietns-list {}

  &__item-igredietns-li {
    &::before {
      content: '';
      margin: 0 10px 0 0;
      vertical-align: middle;
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $accentGreen;
    }
  }

  &__item-recipe {}

  &__item-recipe-title {}

  &__item-recipe-text {}

  &__item-change {
    margin: 30px 0 0;
    display: none;
    // display: flex;
    align-items: center;
    font: 500 14px/1 $roboto;
    color: #E99A8B;

    &[data-replacement] {
      display: flex;
    }

    &:focus {
      outline: 1px dotted;
    }

    &::before {
      content: '';
      margin: 0 10px 0 0;
      display: inline-block;
      width: 18px;
      height: 15px;
      background: center/contain no-repeat;
    }

    &.lazyloaded,
    &:not(.lazy) {
      &::before {
        background-image: url('../img/icon-change.svg');
      }
    }
  }
}