@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.thanks-popup {
  align-items: center;

  &__cnt {
    max-width: 400px;
    text-align: center;
    padding: 40px 20px;
  }

  &__close {}

  &__title {}

  &__descr {}
}