@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.user-data-main {
  margin: 0 0 40px;
  padding: 25px 15px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: $white;
  box-shadow: 0px 8px 20px rgba(147, 167, 181, 0.15);
  border-radius: 30px;
}

.user-data {
  display: flex;
  flex-wrap: wrap;
  &__pic {
    margin: 0 15px 0 0;
    flex: 1;
    min-width: 90px;
    max-width: 90px;
    min-height: 90px;
    max-height: 90px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__name {
    // max-width: 140px;
    flex: 1;
    font: bold 18px/1.3 $notoSans;
  }

  &__params {
    margin: 20px 0 0;
    display: flex;
    align-items: flex-start;
    font: 12px/1.4 $roboto;
  }

  &__param {
    &:not(:last-child) {
      margin: 0 10px 0 0;
      padding: 0 10px 0 0;
      border-right: 1px solid #e0e0e0;
    }
  }

  &__param-value {
    display: block;
    font: bold 24px/1.3 $notoSans;
    white-space: nowrap;
  }

  &__param-units {
    font: bold 16px/1.3 $notoSans;
  }

  &__nutrition-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__nutrition-li {
    margin: 20px 0 0 0;
    width: calc((100% - 20px) / 2);
    height: 95px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(286.12deg, rgba(243, 224, 215, 0.9) 8.77%, #F6EFE9 97.03%);
    border-radius: 20px;
  }

  &__weight {

  }

  &__current-weight,
  &__weight-goal {
    width: calc((100% - 20px) / 2);
    padding: 25px 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: $white;
    box-shadow: 0px 8px 20px rgba(147, 167, 181, 0.15);
    border-radius: 30px;
    font: bold 18px/1.3 $notoSans;
    text-align: center;
  }

  &__current-weight {
    margin: 0 auto 0 0;
    // width: calc((100% - 20px) / 2);
    // padding: 25px 10px;
    // display: flex;
    // flex-flow: column;
    // align-items: center;
    // background: $white;
    // box-shadow: 0px 8px 20px rgba(147, 167, 181, 0.15);
    // border-radius: 30px;
    // font: bold 18px/1.3 $notoSans;
    // text-align: center;
  }

  &__current-weight-date {
    margin: 10px 0 0;
    color: #E99A8B;
    font: 12px/1.5 $roboto;
  }

  &__current-weight-number {
    margin: 10px 0 0;
    font: bold 24px/1 $notoSans;
  }

  &__current-weight-units {
    font: 16px/1 $notoSans;
  }

  &__weight-goal {
    position: relative;
    // width: calc((100% - 20px) / 2);
    // padding: 25px 10px;
    // display: flex;
    // flex-flow: column;
    // align-items: center;
    // background: $white;
    // box-shadow: 0px 8px 20px rgba(147, 167, 181, 0.15);
    // border-radius: 30px;
    // font: bold 18px/1.3 $notoSans;
    // text-align: center;
  }

  &__weight-goal-chart {}

  &__weight-goal-numbers {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__weight-goal-current {
    display: block;
    font: bold 22px/1.2 $notoSans;
  }

  &__weight-goal-total {
    font: 13px/1.2 $notoSans;
  }

  &__weight-form {}
}

.user-nutrition {
  &__li-img {
    margin: 0 0 5px;
  }

  &__li-title {
    font-size: 18px;
  }
}

.weight-form {
  margin: 20px 0 0 0;
  padding: 25px 15px 30px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: $white;
  box-shadow: 0px 8px 20px rgba(147, 167, 181, 0.15);
  border-radius: 30px;
  &.disabled {
    opacity: 0.5;
    pointer-events: none;    
  }
  &__title {
    margin: 0 0 30px;
    font: bold 18px/1 $notoSans;
  }

  &__input {
    padding: 0 5px 5px;
    width: 175px;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    &::placeholder {
      color: #555555;
    }
  }

  &__btn {
    margin: 30px 0 0;
    padding: 9px;
    width: 100%;
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

#weight-goal-svg {
  margin: 10px 0 0;
}

#weight-goal-svg-bar,
#weight-goal-svg-bg {
  stroke-width: 14px;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear, opacity .5s;
}

#weight-goal-svg-bg {
  stroke: #D9E9BB;
}

#weight-goal-svg-bar {
  stroke: $accentGreen;
  opacity: 0;
}