@import '../assets/colors';
@import '../assets/mixins';
@import '../assets/variables';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: 500 14px/150% $roboto;
  border-radius: 30px;
}

.btn-green {
  background: $accentGreen;
  color: $white;
  border: 1px solid;
  transition: color .5s, background .5s;
}

.btn-ol {
  color: $accentGreen;
  border: 1px solid;
  transition: background .5s;
}

@media (min-width: 1023.98px) {
  .btn {
    font-size: 16px;
  }
}