@import '../assets/colors';
@import '../assets/mixins';
@import '../assets/variables';

// Сообщение об ошибке заполнения поля
label.invalid {
  position: absolute;
  left: 0;
  bottom: -20px;
  font: normal 10px/150% sans-serif;
  // color: $error;
}

// Если ошибка, то можно подчеркнуть поле
.field__inp.invalid,
.field__textarea.invalid {
  // border-bottom-color: $error;
}

.checkbox-green {
  display: none;

  &:checked {
    +.checkbox-pseudo-input {
      background: $accentGreen;
      border-color: $accentGreen;

      &::after,
      &::before {
        opacity: 1;
      }
    }
  }

  +.checkbox-pseudo-input {
    margin: 0 15px 0 0;
    width: 24px;
    height: 24px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background: #fff;
    position: relative;
    transition: background .5s, border-color .5s;

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      background: #fff;
      opacity: 0;
      transition: opacity .5s;
    }

    &::after {
      width: 7px;
      height: 1px;
      top: 44%;
      left: 16%;
      transform: rotate(42deg);
      transform-origin: left;
    }

    &::before {
      width: 14px;
      height: 1px;
      top: 19%;
      right: 16%;
      transform: rotate(-49deg);
      transform-origin: right;
    }
  }
}

.checkbox-red {
  display: none;

  &:checked {
    +.checkbox-pseudo-input {
      background: $coral;
      opacity: 0.4;
    }

    ~.checkbox-text {
      text-decoration-color: currentColor;
      opacity: 0.4;
    }
  }

  +.checkbox-pseudo-input {
    margin: 0 15px 0 0;
    width: 24px;
    height: 24px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background: #fff;
    position: relative;
    transition: background .5s, opacity .5s;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 3px;
      height: 1px;
      width: 100%;
      background: #fff;
    }

    &::after {
      right: 3px;
      transform: rotate(-45deg);
      transform-origin: right;
    }

    &::before {
      left: 3px;
      transform: rotate(45deg);
      transform-origin: left;
    }
  }

  ~.checkbox-text {
    margin: 3px 0 0;
    text-decoration: line-through;
    text-decoration-color: transparent;
    transition: opacity .5s, text-decoration-color .5s;
  }
}

// Рассчет размера нужен для ограничения ширины блока
// чтобы сообщение об ошибке вставало корректно
$checkbox_size: 13px;
$checkbox_margin_right: 10px;
$checkbox_text_width: calc(100% - #{$checkbox_size + $checkbox_margin_right});
// $checkbox_border_radius: 0;

.check {
  display: flex;
  cursor: pointer;

  &_tick {
    // Чекбокс с галочкой
    align-items: flex-start;
    max-width: 250px;
    flex-wrap: wrap;
    font: 12px/140% Montserrat;

    >.check__text {
      width: $checkbox_text_width;
    }

    >.check__inp {
      margin: 4px $checkbox_margin_right 0 0;
      width: $checkbox_size;
      height: $checkbox_size;
      background: transparent url('../img/check.svg') center/0 border-box no-repeat;
      transition: background .25s;
      pointer-events: none;

      &:checked {
        // background-color: $green;
        background-size: 100%;
      }
    }
  }

  &_fill {
    // Чекбокс с заполнением цветом
    align-items: center;

    >.check__text {}

    >.check__inp {
      margin: 0 10px 0 0;
      width: 10px;
      height: 10px;
      // box-shadow: inset 0 0 0 10px $white;
      // background: $green;
      border-radius: 2px;
      transition: box-shadow .5s;

      &:checked {
        // box-shadow: inset 0 0 0 2px $white;
      }
    }
  }

  >label.invalid {
    position: static;
    margin: 4px 0 -4px $checkbox_size + $checkbox_margin_right;
    max-width: $checkbox_text_width;
    order: 10;

    &::after {
      display: none;
    }
  }

  &__inp {
    appearance: none;
    display: inline-flex;
    border: 1px solid;
    flex-shrink: 0;
  }

  &__text,
  &__link {
    display: inline-block;
  }
}

.field {
  display: inline-block;
  font: 14px/1 $roboto;
  position: relative;

  &__textarea,
  &__inp {
    width: 100%;
    height: 25px;
    border: 0;
    padding: 0;
    background: 0 0;
    font: inherit;
    // color: $black;
    border-bottom: 1px solid #E0E0E0;
    transition: border-bottom-color .5s;
    &::placeholder {
      font: inherit;
      color: #A6A6A6;
    }

    &:focus,
    &.filled {
      // &:focus.valid,
      // &.filled.valid { 
      // border-bottom-color: $black;

      ~.field__text {
        top: -16px;
        font-size: 11.5px;
      }
    }
  }

  &__text {
    position: absolute;
    left: 0;
    top: 0;
    // color: $grey;
    transition: top .25s, font-size .25s;
  }
}