@import "../../scss/assets/colors";
@import "../../scss/assets/mixins";
@import "../../scss/assets/variables";

#wpadminbar {
  position: static !important;
}

.hdr {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  background: $white;
  &.fixed {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    animation: translateToBottom .5s;
    > .hdr__logo {
      display: none;
    }
  }
  &.clone {
    ~ section {
      .side-menu__cnt {
        padding-top: 7.5px;
      }
    }
  }

  &__logo {
  }

  &__nav,
  &__logout,
  &__login {
    display: none;
  }

  &__burger {
    margin: 0 0 0 auto;
    width: 24px;
    height: 13px;
    background: url("../img/icon-burger.svg") center/contain no-repeat;
  }
}

.hdr-account {
  background: $white;
}
