@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hdr {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;

  &__logo {}

  &__nav,
  &__logout,
  &__login {
    display: none;
  }

  &__burger {
    margin: 0 0 0 auto;
    width: 24px;
    height: 13px;
    background: url('../img/icon-burger.svg') center/contain no-repeat;
  }
}

.hdr-account {
  background: $white;
}