@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hdr {

  &__logo {
    width: 175px;
  }

  &__logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__logout {
  }

  &__nav {
    &-list {}

    &-li {
      &:not(:last-child) {}
    }
  }

  &__burger {}

  &__login {}
}


.hdr-account {
  >.hdr__logout {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    font: 500 14px/1 $roboto;
  }
  .hdr__logout-icon {
    margin: 0 0 0 10px;
    width: 18px;
    height: 17px;
  }
  >.hdr__burger {
    display: none;
  }
}