@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hdr {
  padding-top: 20px;
  padding-bottom: 20px;
  &__logo {
  }

  &__logo-img {
  }

  &__nav {
    margin: 0 50px 0 auto;
    display: block;
    &-list {
      display: flex;
      align-items: center;
      font: bold 16px/1 $roboto;
    }
    &-li {
      &:not(:last-child) {
        margin: 0 40px 0 0;
      }
      >.nav-link {
        transition: color .25s;
      }
    }
  }

  &__burger {
    display: none;
  }

  &__login {
    padding: 12px 46px;
    display: inline-flex;
    font-size: 16px;
    font-weight: bold;
  }
}

.hdr-account {
  background: transparent;
  >.hdr__logout {
    font-size: 16px
  }
  .hdr__logout-icon {
    width: 22px;
    height: 21px;
  }
  >.hdr__burger {
  }
}