@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.error-popup {
  &__cnt {
    max-width: 850px;
    padding: 45px;
  }

  &__close {}

  &__img {}

  &__title {}

  &__descr {
    margin: auto;
    max-width: 460px;
  }

  &__buttons {
    .btn {
      width: 215px;
      height: 50px;
    }

    .btn-green {}

    .btn-ol:not(:only-child) {
      margin: 0 0 0 20px;
    }
  }
}
