@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-invite {
  margin: $sectionVerticalPadding768 0;
  display: flex;
  align-items: center;
  // &__pic {
  //   margin: 0;
  //   order: 10;
  // }

  // &__img {}

  &__img {
    margin: 0;
    order: 10;
    height: 187px;
  }

  &__text {}

  &__title {}

  &__descr {}

  &__btn {
    margin: 20px 0 0;
    padding: 14px 48px;
  }
}