@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-instagram {
  &__title {}

  &__main-link {}

  &__posts {}

  &__post {
    width: 207px;
    height: 217px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__links {
    font-size: 16px;
  }
}

.instagram-post {
  border: 1px solid transparent;
  transition: border-color .5s;
  &__img {}

  &__overlay {}

  &__likes {}

  &__comments {}
}