@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.allowed-products-popup {
  padding-top: 100px;
  &__cnt {
    padding: 50px 40px;
    max-width: 850px;
    border-radius: 30px;
  }

  &__close {}

  &__title {}

  .popup {
    &__text-block {}

    &__text-block-title {}

    &__pic {}

    &__img {}

    &__cnt {}

    &__close {}

    &__title {}
  }
}