@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.diet-plan-hero {
  .account-hero {
    &__close {}

    &__img {
      width: 200px;
      height: 220px;
    }

    &__text {}

    &__title {
      margin: 0 0 40px;
    }

    &__descr {
      max-width: 460px;
    }

    &__btns {
      margin: 40px 0 0;
      >.btn {}
    }
  }
}