@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

.ftr__nav-li>.nav-link,
.hdr__nav-li>.nav-link,
.hdr__logout,
.ftr__tel,
.ftr__email {
  &:hover {
    color: $accentGreen;
  }
}

.btn.btn-ol {
  &:hover {
    background: $accentGreen;
    color: $white;
  }
}

.hdr__logout:hover {
  >.hdr__logout-icon {
    filter: invert(58%) sepia(50%) saturate(601%) hue-rotate(39deg) brightness(100%) contrast(96%);
  }
}

// .btn:hover {
//   background: #8EC526;
// }

// .btn-green:hover {
//   &::before {
//     border-color: #8EC526;
//   }
// }

.instagram-post {
  &:hover {
    border-color: $coral;
  }
}

.index-instagram__main-link {
  &:hover {
    border-bottom-color: $coral;
  }
}

.index-instagram__link {
  &:hover {
    color: $coral;
  }
}

.questionnaire-card {
  &:not(.questionnaire-card-products-checkboxes):hover {
    box-shadow: 0px 8px 20px rgba(133, 185, 33, 0.3);
  }
}

.questionnaire-card-body-parts {
  &:hover {
    .checkbox-pseudo-input {
      &::before {
        border-color: #e0e0e0;
      }
    }
  }
}


.questionnaire-card__checkbox {
  &:hover {
    .checkbox-red+.checkbox-pseudo-input {

      &::before,
      &::after {
        background: #e0e0e0;
      }
    }
  }
}

.photo-progress-form {
  &:hover {
    &::before {
      opacity: 1;
    }
    &::after {
      box-shadow: 4px 4px 15px rgba(133, 185, 33, 0.3);
    }
  }
}