@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

// Страница редактирования продукта
// .post-type-product,
.post-type-recipe,
.post-type-dish {

  // Ссылка на запись
  #titlediv>.inside,
  // Блок с кнопкой "просмотреть"
  #minor-publishing-actions {
    display: none;
  }
}

.toplevel_page_manage-wprecall {
  display: none !important;
}

// Страница редактирование приема пищи
// .post-type-recipe,#1d2327
// .post-type-dish {
//   .acf-field-611bd3f02251a {
//     display: none !important;
//   }
// }

#your-profile {

  // Скрываем персональные настройки
  h2:first-of-type,
  // и таблицу персональных настроек
  // table:first-of-type,
  tr.user-rich-editing-wrap,
  tr.user-syntax-highlighting-wrap,
  tr.user-comment-shortcuts-wrap,
  tr.show-admin-bar.user-admin-bar-front-wrap,
  tr.user-language-wrap,
  tr.user-admin-color-wrap fieldset,
  // Скрываем обо мне
  h2:nth-of-type(4),
  table:nth-of-type(4),
    {
    display: none;
  }

  tr.user-admin-color-wrap>th {
    color: transparent;

    &::before {
      content: 'Сброс анкеты';
      display: inline-block;
      // all: inherit;
      color: #1d2327;
    }
  }
}

// Страница пользователя
#acf-form-data {
  +.form-table {
    >tbody {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

#user-photo,
#target,
#sex,
#age,
#height,
#training-experience,
#activity,
#place,
#inventory,
#training-restrictions,
#body-parts,
#children,
#categories,
#calories,
#proteins,
#fats,
#carbohydrates,
#target-weight,
#start-weight,
#current-weight,
#weight-timeline,
#initial-measure-chest,
#initial-measure-waist,
#initial-measure-hip,
#initial-measure-date,
#measure-timeline,
#photo-progress,
#show-msg,
#workout-week-1,
#workout-week-2,
#workout-week-3,
#diet-plan {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;

  >.acf-label {
    padding: 0;
  }

  >.acf-input {
    margin: 0 0 25px;
    padding: 0;
  }

  .acf-radio-list,
  .acf-checkbox-list {
    ul.children {
      margin: 10px 0 0;
    }

    li {
      &:not(:last-child) {
        margin: 0 0 10px;
      }
    }
  }

  img {
    max-width: 250px;
  }
}

#wp-admin-bar-wp-logo,
// #wp-admin-bar-site-name,
#wp-admin-bar-comments,
#wp-admin-bar-new-content {
  display: none;
}

#wpadminbar #wp-admin-bar-root-default>li#wp-admin-bar-wpshapere_site_title {
  margin: 0 5px 0 20px;

  >.ab-item {
    margin: 3px 0 0;
  }
}

#reset,
#questionnaire-complete,
#show-diet-plan {
  margin: 0 0 25px;
  width: 100%;

  >.acf-label {
    display: none;
  }

  >.acf-input {
    // margin: 0 0 25px;
    padding: 0;
  }
}

#telegram-chat,
#role-number,
#marathons-count,
#questionnaire-date,
#start-marathon-date,
#start-marathon-time,
#finish-marathon-date,
#finish-marathon-time,
#diet-plan-open-date,
#diet-plan-open-time,
#first-week-end-date,
#first-week-end-time,
#second-week-end-date,
#second-week-end-time,
#third-week-end-date,
#third-week-end-time {
  margin: 0 0 25px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;

  td {
    padding: 0;
  }
}

#start-marathon-time,
#finish-marathon-time,
#diet-plan-open-time,
#first-week-end-time,
#second-week-end-time,
#third-week-end-time {
  opacity: 0.5;
}

@media (min-width:992px) {

  #start-marathon-date,
  #start-marathon-time,
  #finish-marathon-date,
  #finish-marathon-time,
  #diet-plan-open-date,
  #diet-plan-open-time,
  #first-week-end-date,
  #first-week-end-time,
  #second-week-end-date,
  #second-week-end-time,
  #third-week-end-date,
  #third-week-end-time,
  #age,
  #height {
    margin: 0 25px 25px 0;
    width: 350px;
  }

  #calories,
  #proteins,
  #fats,
  #carbohydrates,
  #target-weight,
  #start-weight,
  #current-weight,
  #initial-measure-chest,
  #initial-measure-waist,
  #initial-measure-hip,
  #initial-measure-date {
    width: calc((100% - 30px) / 4);
  }

  #calories,
  #proteins,
  #fats,
  #target-weight,
  #start-weight,
  #initial-measure-chest,
  #initial-measure-waist,
  #initial-measure-hip {
    margin-right: 10px;
  }
}

@media (min-width:1300px) {

  #start-marathon-time,
  #finish-marathon-time,
  #diet-plan-open-time,
  #first-week-end-time,
  #second-week-end-time,
  #third-week-end-time {
    margin-right: 30%;
  }

  #calories,
  #proteins,
  #fats,
  #carbohydrates,
  #target-weight,
  #start-weight,
  #current-weight,
  #initial-measure-chest,
  #initial-measure-waist,
  #initial-measure-hip,
  #initial-measure-date {
    width: calc((100% - 75px) / 4);
  }

  #calories,
  #proteins,
  #fats,
  #target-weight,
  #start-weight,
  #initial-measure-chest,
  #initial-measure-waist,
  #initial-measure-hip {
    margin-right: 25px;
  }
}

@media (min-width:1675px) {

  #start-marathon-time,
  #finish-marathon-time,
  #diet-plan-open-time,
  #first-week-end-time,
  #second-week-end-time,
  #third-week-end-time {
    margin-right: 45%;
  }

  #calories,
  #proteins,
  #fats,
  #carbohydrates,
  #target-weight,
  #start-weight,
  #current-weight,
  #initial-measure-chest,
  #initial-measure-waist,
  #initial-measure-hip,
  #initial-measure-date {
    width: 350px;
  }

  // #proteins,
  // #carbohydrates,
  // #start-weight,
  // #initial-measure-chest,
  // #initial-measure-waist,
  // #initial-measure-hip {
  // margin-right: 45%;
  // }
}