@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-features {
  &__title {}

  &__descr {}

  &__features {}

  &__feature {
    margin-top: 40px;
  }

  &__feature-fig {
    padding: 15px 0;
  }

  &__feature-img {
    width: 110px;
    height: 110px;
  }

  &__feature-descr {}
}