@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-features {
  &__title {}

  &__descr {}

  &__features {
    margin: 20px 0 0;
    flex-wrap: wrap;
  }

  &__feature {
    margin: 30px 30px 0 0;
    width: calc((100% - 60px) / 3);
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  &__feature-fig {
    height: 140px;
  }

  &__feature-img {
    width: 100px;
    height: 100px;
  }

  &__feature-descr {}
}