@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.measure-sect {
  padding: 40px 0;

  &__title {
    margin: 0 0 20px;
    font: bold 20px/1 $notoSans;
  }

  &__descr {}

  &__user-data {}

  &__user-current-data {}

  &__form {}
}

.measure-chart {
  &.hide {
    display: none !important;
  }
}

.measure-current {
  margin: 10px 0 0;
  padding: 25px 15px 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #FDFDFD;
  box-shadow: 0px 8px 20px rgba(147, 167, 181, 0.15);
  border-radius: 30px;

  &.no-data {
    >.measure-current__date,
    >.measure-current__table {
      display: none;
    }

    >.measure-current__no-data-msg {
      display: block;
    }
  }

  &__no-data {
    &-msg {
      margin: 30px auto 0;
      max-width: 275px;
      display: none;
      text-align: center;
      color: $coral;
      font: 16px/1.4 $roboto;
    }

    &-emoji {
      margin: 0 0 15px;
      display: block;
      font-size: 48px;
    }
  }

  &__title {
    font: bold 18px/1 $notoSans;
  }

  &__date {
    margin: 10px 0 0;
    color: $coral;
  }

  &__table {
    margin: 20px 0 0;
    width: 100%;
    border-spacing: 0 10px;
    font: 14px/1 $roboto;
    position: relative;
  }

  &__table-left {
    padding: 0 0 5px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__table-right {
    padding: 0 0 5px;
    text-align: right;
    font: bold 24px/1 $notoSans;
    border-bottom: 1px solid #e0e0e0;
  }

  &__table-row {
    &:last-child {

      >.measure-current__table-left,
      >.measure-current__table-right {
        border-bottom: 0;
        padding: 0;
      }
    }
  }
}

.measure-form {
  margin: 20px 0 0;
  padding: 25px 15px 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #FDFDFD;
  box-shadow: 0px 8px 20px rgba(147, 167, 181, 0.15);
  border-radius: 30px;
  text-align: center;
  transition: opacity .5s;

  // &.loading {
    // pointer-events: none;
    // opacity: 0.5;
    // user-select: none;
  // }

  &.loading,
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;

    // .measure-form__data,
    // .measure-form__btn {
      
    // }
  }

  &__title {
    font: bold 18px/1 $notoSans;
  }

  &__descr {
    margin: 10px 0 0;
    color: $coral;
  }

  &__data {
    margin: 30px 0 0;
    display: flex;
    align-items: flex-start;
  }

  &__img {
    margin: 0 25px 0 0;
    width: 75px;
  }

  &__data-table {
    border-spacing: 0 10px;

    td {
      padding: 0 0 5px;
      border-bottom: 1px solid #eee;
    }
  }

  &__data-input {
    width: 120px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    &:focus,
    &:hover {
      -moz-appearance: number-input;
    }

    &::placeholder {
      color: #555;
    }
  }

  &__btn {
    margin: 30px 0 0;
    padding: 9px;
    width: 100%;
  }
}

#measure-chart {
  padding: 15px 10px;
  margin: 20px 0 0;
  background: #FDFDFD;
  box-shadow: 0px 8px 20px rgba(147, 167, 181, 0.15);
  border-radius: 30px;
}