@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.measure-sect {
  &__title {}

  &__descr {}

  &__user-data {}

  &__user-current-data {}

  &__form {}
}

.measure-current {
  width: 230px;
  &__title {}

  &__date {}

  &__table {}
}

.measure-form {
  width: 495px;
  &__title {}

  &__descr {}

  &__data {}

  &__img {}

  &__data-table {}

  &__btn {}
}

#measure-chart {
  margin: 20px 0 0;
  height: 400px;
}