@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.measure-sect {
  &__title {}

  &__descr {}

  &__user-data {}

  &__user-current-data {}

  &__form {}
}

.measure-current {
  width: 195px;

  &__title {}

  &__no-data {
    &-msg {
      margin-left: -15px;
      width: calc(100% + 30px);
    }
  }

  &__date {}

  &__table {}
}

.measure-form {
  width: 420px;

  &__title {}

  &__descr {}

  &__data {}

  &__img {}

  &__data-table {}

  &__btn {}
}

#measure-chart {
  margin: 15px 0 0;
}